<%- include('./layouts/header', {title: 'Home'}) %>
<%- include('./layouts/navbar') %>

<div>
  <h1> HOME </h1>

  <%- include('./layouts/content-footer') %>
</div>

<%- include('./layouts/footer') %>